<html>
  <div class="mainheader">
    <div class="middle-1" *ngIf="isYear" >
      <table #calenderTbody tabindex="0">
        <tbody  class="e-zoomin">
          <tr role="row">
            <td>
              <span class="e-day" (click)="getYear($event.target.innerHTML)">2009</span>
            </td>
            <td><span class="e-day" (click)="getYear($event.target.innerHTML)">2010</span></td>
            <td><span class="e-day"(click)="getYear($event.target.innerHTML)">2011</span></td>
            <td><span class="e-day"(click)="getYear($event.target.innerHTML)">2012</span></td>
          </tr>
          <tr role="row">
            <td><span class="e-day" (click)="getYear($event.target.innerHTML)">2013</span></td>
            <td><span class="e-day"(click)="getYear($event.target.innerHTML)">2014</span></td>
            <td><span class="e-day"(click)="getYear($event.target.innerHTML)">2015</span></td>
            <td><span class="e-day"(click)="getYear($event.target.innerHTML)">2016</span></td>
          </tr>
          <tr role="row">
            <td><span class="e-day" (click)="getYear($event.target.innerHTML)">2017</span></td>
            <td><span class="e-day" (click)="getYear($event.target.innerHTML)">2018</span></td>
            <td><span class="e-day" (click)="getYear($event.target.innerHTML)">2019</span></td>
            <td><span class="e-day"(click)="getYear($event.target.innerHTML)">2020</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="middle-2" *ngIf="isMonth">
      <table tabindex="0">
        <tbody class="e-zoomin">
          <tr role="row" >
            <td >
              <span class="e-day" style="cursor:pointer" (click)="getCalender(0)">jan</span>
            </td>
            <td ><span class="e-day" style="cursor:pointer" (click)="getCalender(1)">feb</span></td>
            <td ><span class="e-day" style="cursor:pointer" (click)="getCalender(2)">mar</span></td>
            <td ><span class="e-day" style="cursor:pointer" (click)="getCalender(3)">apr</span></td>
          </tr>
          <tr role="row">
            <td><span class="e-day" (click)="getCalender(4)">may</span></td>
            <td><span class="e-day" (click)="getCalender(5)">june</span></td>
            <td><span class="e-day" (click)="getCalender(6)">july</span></td>
            <td><span class="e-day" (click)="getCalender(7)">aug</span></td>
          </tr>
          <tr role="row">
            <td><span class="e-day" (click)="getCalender(8)">sep</span></td>
            <td><span class="e-day" (click)="getCalender(9)">oct</span></td>
            <td><span class="e-day" (click)="getCalender(10)">nov</span></td>
            <td><span class="e-day" (click)="getCalender(11)">dec</span></td>
          </tr>
        </tbody>
      </table>
    </div>
        <div class="e-footer-container">
      <button class="e-btn e-today e-flat e-primary e-css">Today</button>
    </div>
  </div>

<br/>
<div>
  <button (click)="switchToYear()" >{{yearValue}}</button>
  <button (click)="switchToMonth()">Jan</button>
</div>

<br />
<div class="middle-3">
  <table tabindex="0">
    <tr>
      <td>su</td>
      <td>mo</td>
      <td>tu</td>
      <td>we</td>
      <td>th</td>
      <td>fr</td>
      <td>sa</td>
    </tr>

    <tr *ngFor="let calender of Collection;">


      <td *ngFor="let date of calender">{{date.title}}</td> 
      <!-- <td *ngFor="let date of item">{{date.title}}</td> -->
    
    </tr>
    
    
  </table>
</div>


</html>
